<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h2">Navbar</span>
</nav>

<div class="container">

  <div class="row justify-content-center m-5">

    <div class="nav-titles d-flex justify-content-between mx-0">
      <div>
        <h5 class ="m-3">The Surf</h5>
      </div>
      <div>
        <h5 class ="m-3 px-3">Shop</h5>
      </div>
      <div>
        <h5 class ="m-3 px-3">Learn</h5>
      </div>
      <div>
        <h5 class ="m-3 px-3">Subscriptions</h5>
      </div>
    </div>


    <div class="d-flex align-items-center">
      <!-- <div class="rounded"> -->
        <img class="img m-2 pt-3" src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80s" alt="">
      <!-- </div> -->
      <!-- <div class="rounded"> -->
        <img class="img m-2 pt-3" src="https://images.unsplash.com/photo-1502933691298-84fc14542831?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
      <!-- </div> -->
      <!-- <div class="rounded"> -->
        <img  class="img m-2 pt-3" src="https://images.unsplash.com/photo-1486432155089-343c871b640f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=753&q=80" alt="">
      <!-- </div> -->
    </div>
  </div>
  <div class="m-3 tag-line">
    <h1 class="display-5 text-center">We ensure the waves will have to be ready for <strong><i>you.</i></strong></h1>
  </div>


    <div class="d-flex pt-3 m-5">
      <div class="card-product m-3">
        <img src="https://cdn.shopify.com/s/files/1/0429/3283/0376/products/EcoBean3Update__51411.1537851264.1280.1280_600x.jpg?v=1602022262" />
        <div class="card-product-infos">
          <h2>ECO BEAN FUNBOARD</h2>
          <p>The Eco Bean delivers unprecedented strength for the waves.</p>
        </div>
      </div>

      <div class="card-product m-3">
        <img src="https://cdn.shopify.com/s/files/1/0429/3283/0376/products/flyingfishbamboo3up__54564.1482122829.500.555_400x.jpg?v=1607058696" />
        <div class="card-product-infos">
          <h2>FLYING FISH FUNBOARD </h2>
          <p>Vessel Zephyr features a full eco-friendly Paulownia.</p>
        </div>
      </div>

      <div class="card-product m-3">
        <img src="https://cdn.shopify.com/s/files/1/0429/3283/0376/products/olive6ftSoft__94679.1542773502.1280.1280_600x.jpg?v=1602022249" />
        <div class="card-product-infos">
          <h2>BOM BORA SOFTBOARD</h2>
          <p>The Bom Bora softboard is safe and suitable for all skill levels.</p>
        </div>
      </div>
    </div>

    <div class="d-flex text-back m-5">
      <div>
        <img class="boards m-5" src="https://images.unsplash.com/photo-1489633908075-1c914e8ee5ea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80" alt="">
      </div>
      <div class="texty display-4 m-5">
        Our boards are made from the <strong>highest quality</strong> meaning that you should have no worries ripping that sweet wave.
      </div>
    </div>

</div>
