<nav class="navbar navbar-light justify-content-center p-0">
  <span class="navbar-brand mb-0 font-weight-light">Free standard shipping in Australia for orders over $299</span>
</nav>



<img src="" alt="">

<div class="container">
    <!-- <div class="row"> -->
    <div class="justify-content-between pt-1">
      <h1 class="main-head col-xs-12">That's Rad Man <%= cl_image_tag("surfing_fzrpfj", height:50, :cloud_name => 'demuds3g0') %> </h1>
      <div class="d-flex log-nav mb-3">
          <div class="sign px-3">
            <p>Sign In</p>
          </div>
          <div class="px-3">
            <p>Bag  (0)</p>
        </div>
      </div>
    </div>

  <!-- </div> -->
</div>
    <!-- <div class="trm justify-content-center m-3 container"> -->
      <!-- < %= image_tag('surfboard.png', :class =>"board-header m-3")%> -->
      <!-- <h6>That's <br>Rad<br>Man</h6> -->
    <!-- </div> -->

<div class="container">


  <div class="justify-content-center m-5 d-flex">

  <div class="row">
      <div class="nav-titles d-flex col">
        <div class="my-3">
          <h5 class ="for-border px-3">TheSurf</h5>
        </div>
        <div class="my-3">
          <h5 class ="for-border px-3">Shop</h5>
        </div>
        <div class="my-3">
          <h5 class ="for-border px-3">Learn</h5>
        </div>
        <div class="my-3">
          <h5 class ="px-3">Subscriptions</h5>
        </div>
      </div>

      <!-- <div class="d-flex"> -->
        <div class="d-flex inner-nav flex-shrink-0 col">
          <div class="m-3">
            <p>Locations</p>
          </div>
          <div class="m-3">
            <p>About us</p>
          </div>
          <div class="m-3">
            <p>Journal</p>
          </div>
          <div class="m-3">
            <p>Wholesale</p>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <!-- <i class="fas fa-circle btn-toggle"></i> -->
  </div>
</div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-toggle mb-5 font-weight-normal">Toggle Surf-Mode</button>
    </div>

<div class="container">
  <!-- <div class="row"> -->
    <div class="pb-5">
        <div class="row ">
          <div class="col-md-12 col-xs-12 col-lg-4">
            <img class="piccy img col-sm-12 col-md-12 col-xs-1 mb-3" src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80s" alt="">
          </div>
          <div class="col-md-12 col-xs-12 col-lg-4">
            <img class="piccy img col-sm-12 col-md-12 col-xs-1 mb-3" src="https://images.unsplash.com/photo-1502933691298-84fc14542831?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
          </div>
          <div class="col-md-12 col-xs-12 col-lg-4">
            <img  class="piccy img col-sm-12 col-md-12 col-xs-1 mb-3" src="https://images.unsplash.com/photo-1486432155089-343c871b640f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=753&q=80" alt="">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
    <br>
      <div class="m-3 tag-line pt-3 pb-3">
        <h1 class="display-5 text-center">We ensure the waves will have to be <span class="ready-update">ready</span><span class="for-update"> for</span> <strong class="you"><i>you</i></strong></h1>
      </div>
    </div>

<br>
<hr>

<div class="container pt-4">
  <div class="row">
    <!-- <div class="cards pt-4"> -->
      <!-- <div class=" ml-4"> -->
        <div class = "mt-3 col-xs-12 col-md-12 col-lg-4">
          <div class="card-product m-1">
            <img class="" src="https://cdn.shopify.com/s/files/1/0429/3283/0376/products/EcoBean3Update__51411.1537851264.1280.1280_600x.jpg?v=1602022262" />
            <div class="card-product-infos">
              <h2>ECO BEAN FUNBOARD</h2>
              <p>The Eco Bean delivers unprecedented strength.</p>
            </div>
          </div>
        </div>

        <div class="mt-3 col-xs-12 col-md-12 col-lg-4">

          <div class="card-product m-1">
            <img class="" src="https://cdn.shopify.com/s/files/1/0429/3283/0376/products/flyingfishbamboo3up__54564.1482122829.500.555_400x.jpg?v=1607058696" />
            <div class="card-product-infos">
              <h2>FLYING FISH FUNBOARD </h2>
              <p>Vessel Zephyr features a full eco-friendly Paulownia.</p>
            </div>
          </div>
        </div>

        <div class="mt-3 col-xs-12 col-md-12 col-lg-4">
          <div class="card-product m-1">
            <img class="" src="https://cdn.shopify.com/s/files/1/0429/3283/0376/products/olive6ftSoft__94679.1542773502.1280.1280_600x.jpg?v=1602022249" />
            <div class="card-product-infos">
              <h2>BOM BORA SOFTBOARD</h2>
              <p>The Bom Bora softboard is safe and suitable for all levels.</p>
            </div>
          </div>

        </div>
      </div>
  </div>
<!--     </div> -->
<br>
<div class="container lower-screen pt-5 pb-5">
  <!-- <div class="lower-screen pt-5"> -->
      <!-- <div class="row"> -->
      <div class="text-back row">
        <div class="texty display-4 col-lg-3 col-xs-12 col-md-12">
          <div class="m-4 pt-4">
            <h4 class="mb-5">Visit our shops</h4>
            <p class = "locations pt-1">See Locations</p>
          </div>
        </div>
        <div class="col-lg-5 p-0 col-xs-12 col-md-12">
          <img class="boards" src="https://images.unsplash.com/photo-1519789110007-0e751882be76?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1629&q=80" alt="">
        </div>
     <!-- </div> -->
          <div class="flex-column col-lg-4 col-xs-12 col-md-12 lower-lower">
            <div class = "pt-5">
            <h5 class='m-3 pb-4'>About Us</h5>
            <p class="m-3 mb-4">That's Rad man is a specialty surf specialist, lesson and retailer, born and based in Melbourne. We are dedicated to high quality surfing. We want to make good surfing accessible and exciting, simple to understand and appreciate, and easy to ride a wave and enjoy.</p>
            <h6 class="right-lower-lower pt-1 mt-5 m-3">Read about us</h6>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
<!-- </div> -->
<!-- <br>
<br>
<br> -->
  <!-- Footer -->
<footer class="text-center mt-5">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label label-change" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
      That's Rad Man respectfully acknowledges the traditional custodians of the land on which we live and work, specifically the Wurundjeri and the Boonerwrung peoples of the Kulin nation. We pay respect to their Elders, and to the history, legacy and contemporary cultures of all Aboriginal and Torres Strait Islander Peoples.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="">About Us</a>
            </li>
            <li>
              <a href="#!" class="">Our Shops</a>
            </li>
            <li>
              <a href="#!" class="">Contact Us</a>
            </li>
            <li>
              <a href="#!" class="">Environment</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="">Surf Guide</a>
            </li>
            <li>
              <a href="#!" class="">Surf Club FAQ</a>
            </li>
            <li>
              <a href="#!" class="">Gift Vouchers</a>
            </li>
            <li>
              <a href="#!" class="">Returns</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 bottom-foot" style="background-color: rgba(0, 0, 0, 0.2);">
    <h6 class="text-bottom">That's Rad Man</h6>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
